annotated-types
anyio
click
colorama
fastapi
gunicorn
h11
idna
joblib
numpy
packaging
pandas
pydantic
pydantic-core
python-dateutil
pytz
scikit-learn
scipy
six
sniffio
starlette
threadpoolctl
typing-extensions
tzdata
uvicorn
sklearn
